<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">My Travel Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline my-2 my-lg-0 mr-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if auth == True %}
            <div class="collapse navbar-collapse col-md-4 offset-md-4" id="navbarNavAdmin">
            <a class="navbar-brand">Admin panel:</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" href="{{url_for('create')}}">Create New Post</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" href="{{url_for('logout')}}">Exit</a>
                    </li>
                </ul>
            </div>
        {% elif auth == False %}
            <div class="collapse navbar-collapse col-md-4 offset-md-4" id="navbarNavUser">
            <a class="navbar-brand">User panel:</a>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" href="{{url_for('logout')}}">Exit</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="d-grid gap-2 d-md-block collapse navbar-collapse col-md-4 offset-md-4" id="navbarNav">
            <a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" href="{{url_for('login')}}">Login</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('registration')}}">Registration</a>
            </div>
        {% endif %}
      </nav>
    <div class="container my-4">
        {% for cat, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ cat }}">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.scripts, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

