{% extends 'base.html' %}

{% block content %}
{% if auth == True %}
    <h1>{% block title %} Create a New Post {% endblock %}</h1>
    <form  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title"
                   placeholder="Post title" class="form-control"
                   value="{{ request.form['title'] }}" required>
            </input>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" placeholder="Post content"
                      class="form-control">{{ request.form['content'] }}</textarea>
        </div>
        <div class="form-group">
            <label>Add photo for post and description:</label>
            <button onclick="addFileAndDesc()" type="button" class="btn btn-primary">
                <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="21" height="21" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M16 2 L16 30 M2 16 L30 16" />
                </svg>
            </button>
        </div>



        <div class="form-group" id="text">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <script type="text/javascript" src="static/scripts/main.js"></script>
{% else %}
    <h1>404</h1>
{% endif %}
{% endblock %}
