{% extends 'base.html' %}

{% block content %}

    <div class="alert alert-success m-3" role="alert">
        <h1 class="text-dark row justify-content-center">{% block title %} Welcome to my travel blog {% endblock %}</h1>
        <em class="text-secondary font-italic">Мир – это книга, и те, кто не путешествуют, успевают прочесть лишь первую страницу.<br> — Ст. Августин.</em>
        <p class="text-dark">Я бросила свою работу, чтобы исполнить мечту: путешествовать по всему миру и зарабатывать на свои поездки с помощью блога. Потому что мне не хотелось выходить в реальный мир, устраиваться на нормальную работу, оседать где-то. Мне хотелось исследовать мир. И у меня получилось воплотить это в жизнь, рассказывая свои истории.


Сегодня сами путешествия для меня не самоцель. Честно говоря, уже нет такого, что я радостно вычеркиваю из своего списка места, в которых побывала. Теперь меня больше интересует опыт, сам процесс, знания, полученные в дороге, нежели конкретное место. Этим и делюсь с читателями.</p>
    </div>

    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post.post_id) }}">
            <h2>{{ post.country }}</h2>
        </a>
        <span class="badge badge-primary">{{ post.time_created }}</span>
        {% if auth == True %}
            <a href="{{ url_for('edit', id=post.post_id) }}">
                <span class="badge badge-warning">Edit</span>
        {% endif %}
        </a>
        <hr>
    {% endfor %}
{% endblock %}
