{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="email" class="form-label">Username : </label>
                      <input type="text" name="name" class="form-control" id="uname" required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="form-label">Password : </label>
                      <input type="password" name="psw" class="form-control" id="passw" required>
                    </div>
                    <button type="submit" class="btn form-control btn-success">Login</button>

                </form>
            </div>
        </div>
    </div>



{% endblock %}