{% extends 'base.html' %}

{% block content %}
{% if auth != None %}
    <h2>{% block title %} {{ post.country }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post.time_created }}</span>
    <p>{{ post.description }}</p>
    <div class="row gx-5">
    {% for content in contents %}
    <div class="card col-5 m-3 img-fluid" width="600" height="800">
        <img src="{{ foto_folder }}/{{ content.foto_name }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{ content.content }}</p>
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
<div class="alert alert-warning m-3" role="alert">
        <h3 class="text-dark row justify-content-center">Для просмотра контента зарегистрируйтесь\авторизуйтесь!</h3>
        <em class="text-secondary font-italic">Мир – это книга, и те, кто не путешествуют, успевают прочесть лишь первую страницу.<br> — Ст. Августин.</em>
    </div>

{% endif %}
{% endblock %}
