{% extends 'base.html' %}

{% block content %}

<div class="container">
        <div class="row justify-content-md-center" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                      <label for="email" class="form-label">Username : </label>
                      <input type="text" name="name" class="form-control" id="uname" required>
                    </div>
                    <div class="form-group">
                      <label for="email" class="form-label">Email : </label>
                      <input type="email" name="email" class="form-control" id="mail" required>
                    </div>
                    <div class="form-group" class="form-label">
                      <label for="email">Password : </label>
                      <input type="password" name="psw" class="form-control" id="passw" required>
                    </div>
                    <div class="form-group" class="form-label">
                      <label for="email">Password : </label>
                      <input type="password" name="psw2" class="form-control" id="passw2" required>
                    </div>
                    <button type="submit" class="btn form-control btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}